!---------------------------------------
! Xft settings
!---------------------------------------

Xft.antialias: true
Xft.dpi: 192
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

!---------------------------------------
! URxvt
!---------------------------------------

! Use fake transparency (better with tiling)
URxvt.transparent: true
URxvt.shading: 30

URxvt.urgentOnBell: true
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt.allow_bold: true
URxvt*font: xft:Inconsolata:pixelsize=24

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Perl extensions
URxvt.perl-ext-common: default,url-select,selection-to-clipboard,font-size
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true

! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.cursorColor: #657b83

! Pointer
! Hide the mouse pointer after a period of inactivity.
URxvt.pointerBlank: true

!---------------------------------------
! Rofi
!---------------------------------------

rofi.font: Inconsolata 24
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #003642, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003642, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003642, #008ed4, #890661

!---------------------------------------
! Nord theme
!---------------------------------------

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
