[alias]
  aa = add --all
  amend = commit --amend
  br = branch
  checkout-pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
  cm = commit -m
  co = checkout
  dc = diff --cached
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  loc = !git diff --stat `git hash-object -t tree /dev/null` | tail -1 | cut -d' ' -f5
  pr = pull-request
  st = status -sb
  sum = log --oneline --no-merges
  unstage = reset HEAD
[branch]
  autosetuprebase = always
[color]
  ui = true
[color "diff"]
  meta = bold cyan
[color "grep"]
  filename = magenta
  match = bold red
  linenumber = bold blue
[commit]
  gpgsign = true
  template = ~/.gitmessage
[core]
  excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
  prune = true
[grep]
  linenumber = true
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
[user]
  name = Harry R. Schwartz
  email = hello@harryrschwartz.com
  signingkey = 25AE721B
[github]
	user = hrs
