emacs/.config/emacs/*
!emacs/.config/emacs/configuration.org
!emacs/.config/emacs/init.el
!emacs/.config/emacs/resources
!emacs/.config/emacs/snippets

ruby/dot-bundle/cache
x-windows/.config/mpv/watch_later
