backups
emacs.d/.cask
emacs.d/.mc-lists.el
emacs.d/ac-comphist.dat
emacs.d/bookmarks
emacs.d/emms
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/recentf
emacs.d/smex-items
emacs.d/tramp
emacs.d/url
mutt/temp
xmonad/xmonad-*
xmonad/*.errors
xmonad/*.hi
xmonad/*.o
