emacs/.config/emacs/*
!emacs/.config/emacs/configuration.org
!emacs/.config/emacs/init.el
!emacs/.config/emacs/resources
!emacs/.config/emacs/snippets
!emacs/.config/emacs/themes

ruby/dot-bundle/cache
ruby/.config/irb/irb_history
shell/.config/fish/fish_variables
x-windows/.config/mpv/watch_later
